html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  min-width: 455px;
  height: 100%;
  margin: 0;
}

#content {
  width: 100%;
  height: calc(100% - 56px);
}

.spacer {
  flex: 1 1 auto;
}

.hidden {
  width: 0;
  height: 0;
  overflow: hidden;
}

.information {
  display: flex;
  margin: 0;
  padding: 4px 0;
  cursor: pointer;
  text-decoration: none;

  span {
    flex: 1 1 auto;
    display: inline-block;
    vertical-align: middle;
    line-height: 24px;
  }

  mat-icon {
    vertical-align: middle;
    margin-left: 4px;
  }
}

.mat-sidenav-container, .mat-sidenav-content, .mat-tab-body-content {
  transform: none !important;
}

mat-header-cell {
  min-width: 100px;
  padding: 4px;
}

mat-cell {
  min-width: 100px;
  padding: 4px;
}

.mat-paginator-container {
  height: 56px !important;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}