<div id="header-container">
    <mat-form-field id="filter">
        <input matInput type="text" [(ngModel)]="this.items.filter" placeholder="Фильтр данных таблицы"/>
        <button mat-button *ngIf="this.items.filter" matSuffix mat-icon-button (click)="this.items.filter = '';">
            <mat-icon>close</mat-icon>
        </button>
    </mat-form-field>
    <button class="header-button" *ngIf="enableRowAdd" [disabled]="waitingAccept" (click)="onAddRow()"
            mat-raised-button>ДОБАВИТЬ</button>
    <button class="header-button" *ngIf="enableRowAccept" [disabled]="!waitingAccept" (click)="onAcceptRow()"
            matTooltip="Перед готовностью убедитесь в правильности новых данных"
            [matTooltipPosition]="'below'" color="primary" mat-raised-button>ГОТОВО</button>
</div>
<div id="tables-container">
    <div id="workers-container-{{ stickyCount }}" *ngIf="showWorkers">
        <mat-form-field *ngFor="let worker of workers;" class="worker-input-{{ workerColumnsCount }}">
            <input matInput type="text" [(ngModel)]="worker.name" (change)="onWorkerPrint(worker)"/>
        </mat-form-field>
        <div [style.width]="(50 + iconColumns.length * 48) + 'px'" id="workers-stub"></div>
    </div>
    <div id="rows-container">
        <mat-table [dataSource]="items" matSort>
            <ng-container *ngFor="let column of textColumns; let i = index" [matColumnDef]="column.name">
                <mat-header-cell *matHeaderCellDef [ngClass]="getClasses(i)" mat-sort-header>{{ column.title }}</mat-header-cell>
                <mat-cell *matCellDef="let cell;" [ngClass]="getClasses(i)">
                    <span *ngIf="column.input == null">
                        {{ cell[column.name] }}
                    </span>
                    <mat-form-field *ngIf="column.input != null && column.input < InputType.DROPDOWN" class="form-field">
                        <input *ngIf="column.input == InputType.TEXT" matInput [(ngModel)]="cell[column.name]" (change)="onRowChanged(cell)"
                               [disabled]="isDisabled(column, cell)" type="text"/>
                        <textarea *ngIf="column.input == InputType.MILTILINE" matInput [(ngModel)]="cell[column.name]" (change)="onRowChanged(cell)"
                                  [disabled]="isDisabled(column, cell)" matTextareaAutosize></textarea>
                        <input *ngIf="column.input == InputType.FLOAT" matInput [(ngModel)]="cell[column.name]" (change)="onRowChanged(cell)"
                               [disabled]="isDisabled(column, cell)" type="number" min="0" step="any"/>
                        <input *ngIf="column.input == InputType.NUMBER" matInput [(ngModel)]="cell[column.name]" (change)="onRowChanged(cell)"
                               [disabled]="isDisabled(column, cell)" type="number" min="0" step="1"
                               onkeypress='return event.which === 8 || event.charCode >= 48 && event.charCode <= 57'/>
                        <span matSuffix>{{ !column.dimension ? '' : ' ' + column.dimension }}</span>
                    </mat-form-field>
                    <mat-form-field *ngIf="column.input === InputType.DROPDOWN" class="form-field">
                        <mat-select [disabled]="isDisabled(column, cell)">
                            <mat-option></mat-option>
                            <mat-option *ngFor="let state of []" [value]="state">
                                {{ state }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field *ngIf="column.input === InputType.DATE" class="form-field">
                        <input matInput [matDatepicker]="picker" [(ngModel)]="cell[column.name]" (dateChange)="onRowChanged(cell)" disabled/>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker touchUi="true" #picker [disabled]="isDisabled(column, cell)"></mat-datepicker>
                    </mat-form-field>
                    <span *ngIf="column.input === InputType.FUNCTION">
                        {{ column.calculate(cell, multiplyFactor) }}
                    </span>
                </mat-cell>
            </ng-container>
            <ng-container *ngFor="let column of iconColumns; let i = index" [matColumnDef]="column.name">
                <mat-header-cell *matHeaderCellDef class="cell-icon">{{ column.title }}</mat-header-cell>
                <mat-cell *matCellDef="let cell;" class="cell-icon">
                    <button mat-icon-button (click)="onIcon(i, cell)">
                        <mat-icon>{{ column.calculate(cell) }}</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>
            <ng-container [matColumnDef]="menuColumn.name">
                <mat-header-cell *matHeaderCellDef class="cell-menu">{{ menuColumn.title }}</mat-header-cell>
                <mat-cell *matCellDef="let cell;" class="cell-menu">
                    <button mat-icon-button [matMenuTriggerFor]="menu">
                        <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu>
                        <button *ngIf="enableRowEdit" (click)="onEditRow(cell)" mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Изменить</span>
                        </button>
                        <button *ngIf="enableRowDelete" (click)="onDeleteRow(cell)" mat-menu-item>
                            <mat-icon>delete</mat-icon>
                            <span>Удалить</span>
                        </button>
                    </mat-menu>
                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns.concat([menuColumn.name])"
                            [ngClass]="showWorkers ? 'header-row-top-offset' : 'header-row-top-zero'"></mat-header-row>
            <mat-row *matRowDef="let row, columns: displayedColumns.concat([menuColumn.name]);"></mat-row>
        </mat-table>
    </div>
</div>
<mat-paginator [pageSizeOptions]="[50, 100, 250, 500, 1000]"></mat-paginator>