$headerHeight: 65px;
$headerPaddingTop: 8px;

$workersHeight: 36px;

$tablePaddingLeft: 24px - 4px;

$cellMaxWidth: 100px;
$cellMinHeight: 0;

$paginatorHeight: 57px;

$array: 1 2 3 4 5 6 7 8 9 10;

$borderColor: rgba(0, 0, 0, 0.12);

#header-container {
  display: flex;
  padding: $headerPaddingTop 24px 0 24px;
  border-bottom: 1px solid $borderColor;

  #filter {
    flex: 1 1 auto;
    height: $headerHeight - $headerPaddingTop - 1px;
    font-size: 14px;
  }

  .header-button {
    height: 36px;
    margin-top: 3px;
    margin-left: 24px;
  }
}

#tables-container {
  height: calc(100% - #{$headerHeight} - #{$paginatorHeight});
  overflow: auto;

  #workers-container-0 {
    position: sticky;
    display: flex;
    top: 0;
    height: $workersHeight;
    padding-left: $tablePaddingLeft;
    text-align: center;
    background: white;
    z-index: 9999;
  }
  @each $padding-left in $array {
    $i: index($array, $padding-left);
    #workers-container-#{$i} {
      @extend #workers-container-0;
      padding-left: $tablePaddingLeft + ($cellMaxWidth + 8px) * $i + 1px;
    }
  }

  .worker-input-0 {
    flex: 0 0 auto;
    height: $workersHeight;
    padding: 0 4px 4px 4px;
    margin-top: -4px;
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.54);
    background: white;
  }
  @each $width in $array {
    $i: index($array, $width);
    .worker-input-#{$i} {
      @extend .worker-input-0;
      width: ($cellMaxWidth + 8px) * $i - 8px + 1px;
    }
  }

  #workers-stub {
    flex: 0 0 auto;
    height: $workersHeight;
    background: white;
  }

  #rows-container {
    display: flex;

    .mat-table {
      flex: 1 1 auto;
    }

    .mat-header-row {
      padding: 0;
    }

    .header-row {
      position: sticky;
      background: white;
      z-index: 9999;
    }
    .header-row-top-zero {
      @extend .header-row;
      top: 0;
    }
    .header-row-top-offset {
      @extend .header-row;
      top: $workersHeight;
      border-top: 1px solid $borderColor;
    }

    .mat-row {
      padding: 0;
    }

    .cell {
      display: flex;
      justify-content: left;
      align-items: center;
      min-height: 40px;
      word-break: break-all;
    }

    @each $left in $array {
      $i: index($array, $left);
      .cell-sticky-#{$i} {
        @extend .cell;
        position: sticky;
        background: white;
        z-index: 1000;
        @if $i > 1 {
          left: $tablePaddingLeft + ($cellMaxWidth + 8px) * ($i - 1);
        } @else {
          left: ($cellMaxWidth + 8px) * ($i - 1);
        }
      }
    }

    .cell-icon {
      @extend .cell;
      flex: 0 0 40px;
      min-width: 40px;
    }

    .cell-menu {
      @extend .cell-icon;
      position: sticky;
      right: 0.05em;
      border-left: 1px solid $borderColor;
      border-right: 1px solid $borderColor;
      background: white;
    }

    .cell-padding-left {
      padding-left: $tablePaddingLeft + 4px;
    }

    .cell-max-width {
      max-width: $cellMaxWidth;
    }

    .cell-border-right {
      border-right: 1px solid $borderColor;
    }

    .form-field {
      width: 100%;
      margin-top: -8px;
      margin-right: 4px;
      margin-bottom: -12px;
      font-size: 14px;
    }
  }
}