<mat-sidenav-container>
    <mat-sidenav #sidenav>
        <div class="hidden">
            <input type="text" tabindex="1"/>
        </div>
        <mat-list id="menu-container">
            <mat-list-item (click)="goToPage('/information/0')">
                <mat-icon mat-list-icon>perm_device_information</mat-icon>
                <h4 mat-line>Сведения</h4>
            </mat-list-item>
            <mat-list-item (click)="goToPage('/data/0')">
                <mat-icon mat-list-icon>dns</mat-icon>
                <h4 mat-line>Данные</h4>
            </mat-list-item>
            <mat-list-item style="cursor: default;border-top: 1px solid rgba(0, 0, 0, 0.12)">
                <mat-icon mat-list-icon>work</mat-icon>
                <h4 mat-line>Проекты</h4>
            </mat-list-item>
            <mat-list-item style="cursor: default;">
                <mat-form-field id="projects-filter">
                    <input matInput type="text" placeholder="Фильтр проектов" tabIndex="-1" [(ngModel)]="newFilter"/>
                    <button mat-button *ngIf="newFilter" matSuffix mat-icon-button (click)="newFilter = '';">
                        <mat-icon>close</mat-icon>
                    </button>
                </mat-form-field>
            </mat-list-item>
            <mat-list-item id="projects-container">
                <mat-list style="height: 360px;">
                    <mat-list-item *ngFor="let project of getFilteredProjects()" (click)="goToPage(project.link)">
                        <h4 mat-line>{{ project.name }}</h4>
                    </mat-list-item>
                </mat-list>
            </mat-list-item>
            <mat-list-item (click)="goToPage('/store')">
                <mat-icon mat-list-icon>location_city</mat-icon>
                <h4 mat-line>Склад</h4>
            </mat-list-item>
            <mat-list-item (click)="goToPage('/finance/0')">
                <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
                <h4 mat-line>Финансы</h4>
            </mat-list-item>
            <mat-list-item (click)="goToPage('/reports')">
                <mat-icon mat-list-icon>description</mat-icon>
                <h4 mat-line>Отчёты</h4>
            </mat-list-item>
            <mat-list-item (click)="goToPage('/settings')">
                <mat-icon mat-list-icon>settings</mat-icon>
                <h4 mat-line>Настройки</h4>
            </mat-list-item>
            <mat-list-item style="cursor: default;border-top: 1px solid rgba(0, 0, 0, 0.12)">
                <mat-icon mat-list-icon>account_circle</mat-icon>
                <h4 mat-line>{{ phone }}</h4>
            </mat-list-item>
            <mat-list-item (click)="onLogout()" style="border-bottom: 1px solid rgba(0, 0, 0, 0.12)">
                <mat-icon mat-list-icon>exit_to_app</mat-icon>
                <h4 mat-line>Выйти</h4>
            </mat-list-item>
        </mat-list>
        <div id="bottom-container">
            <a href="https://console.cloud.google.com/appengine/quotadetails?project=yarlst-4a63c"
               target="_blank" class="information">
                <span style="text-decoration: underline;">Статистика использования</span><mat-icon>open_in_new</mat-icon></a>
        </div>
    </mat-sidenav>
    <mat-toolbar color="primary" style="position: fixed; z-index: 100;">
        <span id="title" [style.display]="showSpinner ? 'none' : 'block'">{{ title }}</span>
    </mat-toolbar>
    <div style="height: 56px; width: 100%"></div>
    <router-outlet></router-outlet>
    <button id="hamburger" #hamburger mat-icon-button (click)="sidenav.open()" *ngIf="url"
            [style.display]="showSpinner ? 'none' : 'block'" [disabled]="url == '/login'">
        <mat-icon>{{ url == '/login' ? 'smartphone' : 'menu' }}</mat-icon>
    </button>
    <button id="refresh" mat-icon-button (click)="onRefreshWorkerWorks(true)"
            matTooltip="Для продолжения корректной работы с сайтом требуется обновление данных"
            [matTooltipPosition]="'below'" [style.display]="showSpinner || !showRefresh ? 'none' : 'block'">
        <mat-icon>refresh</mat-icon>
    </button>
    <mat-spinner [diameter]="24" [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>
</mat-sidenav-container>