$borderColor: rgba(0, 0, 0, 0.12);

mat-sidenav-container {
  width: 100%;
  height: 100%;
}

mat-sidenav {
  width: 280px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

#menu-container {
  flex: 1 1 auto;
  overflow-y: auto;
}

#projects-container {
  width: 100%;
  height: 360px;
  overflow-x: hidden;
  overflow-y: scroll;
  border-top: 1px solid $borderColor;
  border-bottom: 1px solid $borderColor;

  ::ng-deep .mat-list {
    width: 100%;
    padding: 0;
  }

  ::ng-deep .mat-list-item-content {
    padding: 0 10px;
  }
}

#projects-filter {
  width: 100%;
}

#bottom-container {
  padding: 16px;
  border-top: 1px solid $borderColor;
}

#hamburger {
  position: fixed;
  top: 6px;
  left: 6px;
  color: white;
  z-index: 101;
}

#title {
  position: fixed;
  font-size: 16px;
  font-weight: 700;
  margin-left: 32px;
  z-index: 101;
}

#refresh {
  position: fixed;
  top: 6px;
  right: 6px;
  color: white;
  z-index: 101;
}

.mat-progress-spinner {
  position: fixed;
  top: 14px;
  right: 14px;
  z-index: 101;
}

.mat-toolbar-row, .mat-toolbar-single-row {
  height: 56px !important;
}

::ng-deep mat-list-item {
  cursor: pointer;
}

::ng-deep mat-tab-group {
  width: 100%;
  height: 100%;
}

::ng-deep .mat-tab-body-wrapper {
  width: 100%;
  height: 100%;
}

::ng-deep .mat-progress-spinner circle, ::ng-deep .mat-spinner circle {
  stroke: white;
}

::ng-deep .mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
  opacity: 0;
}

::ng-deep .mat-sort-header-pointer-left.ng-trigger.ng-trigger-leftPointer{
  transform: rotate(-45deg);
}

::ng-deep .mat-sort-header-pointer-right.ng-trigger.ng-trigger-rightPointer{
  transform: rotate(45deg);
}