<mat-list>
    <ng-container *ngFor="let item of list; let i = index">
        <mat-list-item>
            <span class="name">{{ item.name }}</span>
            <div class="spacer"></div>
            <span class="amount" *ngIf="i !== 9">{{ !item.amount && item.amount !== 0 ? '-' : item.amount }}</span>
            <mat-form-field id="cost" *ngIf="i === 9">
                <input matInput type="number" min="0" step="1" (input)="calculateEarnings()" placeholder="Сумма"
                       [(ngModel)]="costProject" onkeypress='return event.which === 8 || event.charCode >= 48 && event.charCode <= 57' />
            </mat-form-field>
            <span class="dimension">{{ !item.dimension ? '₽' : item.dimension}}</span>
        </mat-list-item>
        <mat-divider></mat-divider>
    </ng-container>
</mat-list>