.mat-list {
  height: calc(100% - 8px);
  padding: 8px 0 0 0;
  background: white;
}

.mat-list-item {
  cursor: default;
  height: 56px;
}

.name {
  font-size: 16px;
  font-weight: 500;
}

.amount {
  width: 130px;
}

#cost {
  @extend .amount;
  margin-top: 16px;
}

.dimension {
  width: 60px;
  margin: 0 4px;
}

mat-divider {
  color: rgba(0, 0, 0, 0.12);
}