<mat-tab-group #tabsContainer id="content" [selectedIndex]="tab" (selectedTabChange)="onTab($event)">
    <mat-tab label="Общая информация">
        <projects-information [projectUid]="projectUid"></projects-information>
    </mat-tab>
    <mat-tab label="Смета по цеху">
        <projects-works [collection]="'workshops'" [projectUid]="projectUid" [projectName]="projectName"
                        [myItems]="itemsWorkshop" [myWorkers]="workersWorkshop" [myColumns]="columnsWorkshop"
                        [myDisplayedColumns]="displayedWorkshopColumns" [_workers]="_workersWorkshop"
                        [_workerWorks]="_workerWorksWorkshop"></projects-works>
    </mat-tab>
    <mat-tab label="Смета по объекту">
        <projects-works [collection]="'objects'" [projectUid]="projectUid" [projectName]="projectName"
                        [myItems]="itemsObject" [myWorkers]="workersObject" [myColumns]="columnsObject"
                        [myDisplayedColumns]="displayedObjectColumns" [_workers]="_workersObject"
                        [_workerWorks]="_workerWorksObject"></projects-works>
    </mat-tab>
    <mat-tab label="Смета временных работ">
        <projects-temps [projectUid]="projectUid"></projects-temps>
    </mat-tab>
    <mat-tab label="Смета материалов">
        <projects-materials [projectUid]="projectUid" [projectName]="projectName"></projects-materials>
    </mat-tab>
    <mat-tab label="Расходы на топливо">
        <projects-fuel [projectUid]="projectUid"></projects-fuel>
    </mat-tab>
    <mat-tab label="Прочие расходы">
        <projects-others [projectUid]="projectUid"></projects-others>
    </mat-tab>
</mat-tab-group>
<ng-container *ngIf="!correctProject">
    <div id="incorrect">Не удалось загрузить проект</div>
</ng-container>