<h1 mat-dialog-title>Ресурсы</h1>
<div mat-dialog-content>
    <div id="comment">Комментарий{{ data.cell._comment ? ': ' + data.cell._comment : ' отсутствует' }}</div>
    <div id="no-photos" *ngIf="data.cell._photos.length === 0">Фотографии отсутствуют</div>
    <ngx-gallery id="photos" *ngIf="data.cell._photos.length > 0" [options]="options" [images]="images"></ngx-gallery>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onCancelClick()" tabindex="-1">ЗАКРЫТЬ</button>
</div>