<mat-tab-group id="content" [selectedIndex]="tab" (selectedTabChange)="onTab($event)">
    <mat-tab label="Дневник работ">
        <information-works></information-works>
    </mat-tab>
    <mat-tab label="Перерывы">
        <information-events></information-events>
    </mat-tab>
    <mat-tab label="Затраты материалов">
        <information-expenses></information-expenses>
    </mat-tab>
</mat-tab-group>