<mat-tab-group id="content" [selectedIndex]="tab" (selectedTabChange)="onTab($event)">
    <mat-tab label="Общая информация">
        <div></div>
    </mat-tab>
    <mat-tab label="Расходы">
        <finance-expenses></finance-expenses>
    </mat-tab>
    <mat-tab label="Доходы">
        <finance-incomes></finance-incomes>
    </mat-tab>
    <mat-tab label="Категории">
        <finance-categories></finance-categories>
    </mat-tab>
    <mat-tab label="Подкатегории">
        <finance-subcategories></finance-subcategories>
    </mat-tab>
</mat-tab-group>