<mat-tab-group id="content" [selectedIndex]="tab" (selectedTabChange)="onTab($event)">
    <mat-tab label="Проекты">
        <data-projects></data-projects>
    </mat-tab>
    <mat-tab label="Операции">
        <data-operations></data-operations>
    </mat-tab>
    <mat-tab label="Материалы">
        <data-materials></data-materials>
    </mat-tab>
</mat-tab-group>
<button *ngIf="false" id="uploadExcel" matTooltip="Загрузить данные в firebase" [matTooltipPosition]="'left'" mat-icon-button>
    <mat-icon>cloud_upload</mat-icon>
</button>