<h1 mat-dialog-title>Изменение {{ data.tab === 0 ? 'работы' : data.tab === 1 ? 'события' : 'затраты' }}</h1>
<div mat-dialog-content>
    <!-- Common -->
    <mat-form-field>
        <mat-select [disabled]="data.tab > 0" [(ngModel)]="data.work._worker" placeholder="Работник">
            <mat-option *ngFor="let worker of workers" [value]="worker._uid">
                {{ worker.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="data.tab === 0">
        <input matInput [matDatepicker]="picker" [(ngModel)]="data.date" (dateChange)="onDateChange()" disabled/>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker disabled="false"></mat-datepicker>
    </mat-form-field>
    <mat-form-field *ngIf="data.tab > 0">
        <input matInput [value]="getDate(0)" type="text" placeholder="Дата" disabled>
    </mat-form-field>
    <mat-form-field *ngIf="data.tab === 0">
        <input matInput [textMask]="{mask: mask}" type="text" placeholder="Начало работы" value="{{ getStartTime(0) }}"
               (input)="onStartTime(0, $event.target.value)">
    </mat-form-field>
    <mat-form-field *ngIf="data.tab === 0">
        <input matInput [textMask]="{mask: mask}" type="text" placeholder="Конец работы" value="{{ getEndTime(0) }}"
               (input)="onEndTime(0, $event.target.value)">
    </mat-form-field>
    <mat-form-field *ngIf="data.tab > 0">
        <input matInput value="{{ getStartTime(0) + ' - ' + getEndTime(0) }}" type="text" placeholder="Время работы (Начало - Конец)" disabled>
    </mat-form-field>
    <mat-form-field>
        <mat-select [disabled]="data.tab > 0" [(ngModel)]="data.work.project" placeholder="Проект">
            <mat-option *ngFor="let project of projects" [value]="project.name">
                {{ project.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select [disabled]="data.tab > 0" [(ngModel)]="data.work.workspace" placeholder="Место">
            <mat-option *ngFor="let workspace of workspaces" [value]="workspace">
                {{ workspace }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-select [disabled]="data.tab > 0" [(ngModel)]="data.work.operation" placeholder="Операция">
            <mat-option *ngFor="let operation of operations" [value]="operation.name">
                {{ operation.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <!-- Events -->
    <mat-form-field *ngIf="data.tab === 1">
        <mat-select [(ngModel)]="data.work.events[data.position].type" placeholder="Наименование">
            <mat-option *ngFor="let eventType of eventTypes" [value]="eventType">
                {{ eventType }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="data.tab === 1">
        <input matInput [textMask]="{mask: mask}" value="{{ getStartTime(data.position) }}" placeholder="Начало события"
               (input)="onStartTime(data.position, $event.target.value)">
    </mat-form-field>
    <mat-form-field *ngIf="data.tab === 1">
        <input matInput [textMask]="{mask: mask}" value="{{ getEndTime(data.position) }}" placeholder="Конец события"
               (input)="onEndTime(data.position, $event.target.value)">
    </mat-form-field>
    <!-- Expenses -->
    <mat-form-field *ngIf="data.tab === 2">
        <mat-select [(ngModel)]="data.work.expenses[data.position].material" placeholder="Материал"
                    (change)="onMaterialChange()">
            <mat-option *ngFor="let material of materials" [value]="material.name">
                {{ material.name }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="data.tab === 2">
        <input matInput [(ngModel)]="data.work.expenses[data.position].quantity" placeholder="Количество" type="text">
    </mat-form-field>
    <mat-form-field *ngIf="data.tab === 2">
        <input matInput [(ngModel)]="data.work.expenses[data.position].dimension" placeholder="Размерность" disabled>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="data.work" tabindex="2" color="primary">ИЗМЕНИТЬ</button>
    <button mat-button (click)="onCancelClick()" tabindex="-1">ОТМЕНА</button>
</div>