<mat-card id="box">
    <mat-form-field>
        <input matInput [textMask]="{mask: phoneMask, showMask: true}" [(ngModel)]="phone" type="text"
               placeholder="Телефон" [disabled]="waitingCode || waitingConfirmation" autocomplete="off"/>
    </mat-form-field>
    <div id="recaptcha-container"></div>
    <button class="action" mat-raised-button color="primary" (click)="sendCode()"
            [disabled]="!phone || getPhoneLength() !== 11 || waitingCode || waitingConfirmation">
        ПОЛУЧИТЬ КОД
    </button>
    <div id="timeout" *ngIf="timeout">Повторить можно через {{ 60 - timeout }} сек.</div>
    <mat-form-field>
        <input matInput [(ngModel)]="verifyCode" placeholder="Код подтверждения"
               onkeypress='return event.which === 8 || event.charCode >= 48 && event.charCode <= 57'
               [disabled]="!waitingCode || waitingConfirmation"/>
    </mat-form-field>
    <button class="action" mat-raised-button (click)="login()" color="primary"
            [disabled]="!verifyCode || verifyCode.toString().length !== 6 || waitingConfirmation">
        ПОДТВЕРДИТЬ
    </button>
</mat-card>