#box {
  display: block;
  padding: 16px;
  margin: 16px;

  mat-form-field {
    width: 100%;
  }

  button {
    width: 100%;
    margin-bottom: 8px;
  }

  #recaptcha-container {
    height: 76px;
    margin-bottom: 16px;
  }

  #timeout {
    width: 100%;
    margin-top: 4px;
    margin-bottom: 8px;
  }
}