<div id="inputs-container">
    <mat-form-field id="location" class="form-field">
        <input matInput type="text" [(ngModel)]="location" placeholder="Местоположение объекта" (change)="onLocation()" />
    </mat-form-field>
    <mat-form-field class="form-field">
        <input matInput type="number" min="0" step="any" [(ngModel)]="distance" placeholder="Расстояние от цеха"
               (change)="calculateDistance()" />
    </mat-form-field>
    <span id="km">км</span>
</div>
<div id="table-container">
    <master-table [enableRowAdd]="true" [textColumns]="columns" [displayedColumns]="displayedColumns" [items]="items"
                  [multiplyFactor]="distance" [collection]="'projects'" [document]="projectUid" [array]="'fuel'"
                  [unsavedColumns]="['total']" [enableRowDelete]="true"></master-table>
</div>