#inputs-container {
  display: flex;
  height: 56px;
  padding: 8px 24px 0 24px;
}

#location {
  flex: 1 1 auto;
  margin-right: 16px;
}

#km {
  max-width: 50%;
  line-height: 56px;
  font-size: 14px;
  margin-left: 4px;
}

#table-container {
  height: calc(100% - 46px);
  margin-top: -18px;
}

.form-field {
  font-size: 14px;
}