<div class="information settings-row">
    <span>Период загружаемых работ</span>
</div>
<div class="period-selector">
    <span>от</span><mat-form-field>
        <input matInput [max]="periodWorksEnd" [matDatepicker]="startWorksPeriod" [(ngModel)]="periodWorksStart"
           (dateChange)="hasPeriodChanges = true" disabled/>
        <mat-datepicker-toggle matSuffix [for]="startWorksPeriod"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #startWorksPeriod [disabled]="false"></mat-datepicker>
    </mat-form-field>
</div>
<div class="period-selector" style="margin-top: -12px;">
    <span>до</span><mat-form-field>
        <input matInput [min]="periodWorksStart" [matDatepicker]="endWorksPeriod" [(ngModel)]="periodWorksEnd"
           (dateChange)="hasPeriodChanges = true" disabled/>
        <mat-datepicker-toggle matSuffix [for]="endWorksPeriod"></mat-datepicker-toggle>
        <mat-datepicker touchUi="true" #endWorksPeriod [disabled]="false"></mat-datepicker>
    </mat-form-field>
</div>
<div style="height: 16px;" class="settings-divider"></div>
<div class="information settings-row">
    <span>Период загружаемых финансов</span>
</div>
<div class="period-selector">
    <span>от</span><mat-form-field>
    <input matInput [max]="periodFinanceEnd" [matDatepicker]="startFinancePeriod" [(ngModel)]="periodFinanceStart"
           (dateChange)="hasPeriodChanges = true" disabled/>
    <mat-datepicker-toggle matSuffix [for]="startFinancePeriod"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #startFinancePeriod [disabled]="false"></mat-datepicker>
</mat-form-field>
</div>
<div class="period-selector" style="margin-top: -12px;">
    <span>до</span><mat-form-field>
    <input matInput [min]="periodFinanceStart" [matDatepicker]="endFinancePeriod" [(ngModel)]="periodFinanceEnd"
           (dateChange)="hasPeriodChanges = true" disabled/>
    <mat-datepicker-toggle matSuffix [for]="endFinancePeriod"></mat-datepicker-toggle>
    <mat-datepicker touchUi="true" #endFinancePeriod [disabled]="false"></mat-datepicker>
</mat-form-field>
</div>
<div style="height: 16px;" class="settings-divider"></div>
<ng-container *ngIf="workers.length > 0">
    <div class="information settings-row">
        <span>Отображаемые работники</span>
    </div>
    <mat-selection-list>
        <mat-list-option *ngFor="let worker of workers; let i = index" [selected]="worker.enabled"
            (selectionChange)="onToggleWorker($event, i)">
            {{ worker.hasOwnProperty("name") ? worker.name : worker.phone }}
        </mat-list-option>
    </mat-selection-list>
    <div class="settings-divider" style="margin-top: 8px"></div>
</ng-container>
<div class="information settings-row" style="margin-bottom: 8px">
    <span>Режим нагрузки демо работами</span>
    <mat-slide-toggle (change)="onMode($event)" [checked]="hasEnabledMode"></mat-slide-toggle>
</div>