.settings-row {
  min-height: 24px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 16px;
}

.settings-divider {
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.period-selector {
  height: 56px;
  min-height: 56px;
  display: flex;
  align-items: center;
  padding: 0 16px;

  span {
    width: 26px;
  }

  mat-form-field {
    flex: 1 1 auto;
    margin-top: 8px;
  }
}