<h1 mat-dialog-title>Вы уверены?</h1>
<div mat-dialog-content></div>
<div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{}" tabindex="2" color="primary">ДА</button>
    <button mat-button (click)="onCancelClick()" tabindex="-1">НЕТ</button>
</div>